#logo{
    @media (max-width : 992px){
     display: none;
    }
    
}
#hero-lg{
    position: relative;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.hero-lg-header{
    padding-left: 0;
    padding-right: 0;
    height: 48px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
    
}
    .menu-lg{
    margin-top: 120px;
    // transform : translateY(100px);
    
    width: 290px;
    min-height: 200px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    ul{
        padding-left: 20px;
        padding-top: 1rem;
        li{
            transition :all ease-in-out 0.3s;
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 1rem;
            border-left: white solid 3px;
            color: #2c2c2c;
            a{
                padding-left: 1rem;
                border-left: white solid 3px;
            }
            &:hover{
                border-left: $primary solid 3px;
                font-weight: 700;
                color: $primary;
            }
        }
    }
}

.hero-lg-body{
    display: grid;
    grid-template-columns: 300px 1fr;
    @media (max-width : 992px){
        grid-template-columns: 300px 1fr;
        transform : translateY(0px)
    }
}
.swiper-container {
    width: 100%;
    // height: calc( 100vh - 200px);
    position: relative;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-nav{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 96px;
    height: 52px;
    background: white;
    z-index: 999;
    border-radius: 35px;
    color: $primary;
    .swiper-button{
        svg{

            fill: $primary;
        }
    }
}
.socials{
        display: flex;
        align-self: top;
        height: 48px;
        align-items: center;
        svg{
            width: 24px;
            height: 24px;
        }
        svg:nth-child(even){
            margin-left: 9px;
        }
        svg:nth-child(odd){
            margin-right: 9px;
        }

    }

    
    .btn-grp{
        display: flex;
        align-self: top;
        .btn{
            height: 48px;
            min-width: 186px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 700;
            border-radius: 50px;
        }
        .btn-primary{
            margin-right: 1rem;
            background: $primary;
            color: white;
        }
        .btn-secondary{
            margin-left: 1rem;
            background: $secondary;
            svg{
                width: 18px;
                height: 22px;
                margin-right: 1rem;
            }
        }
    }
    
    .hero-lg-content{
        display: flex;
        min-height: 300px;
        padding: 0!important;
        @media (max-width : 992px){
            width: 100%!important;
            min-width: 100%;
            margin: 0!important;
        }
        .left{
            @media (max-width : 992px){
                display: none;
            }
           
            min-height: 300px;
            width: 300px;
        }
        .right{
            flex : 1;
            background: cadetblue;
        }
    }

    .mouse{
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: -50px;
    }